.truckTitleContainer {
  margin-bottom: 28px;
}
.starIcon {
  width: 16px;
  height: 16px;
  position: relative;
  top: -1.5px;
  fill: #ffc531;
}
.text {
  color: var(--color-main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.rating {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.location {
  color: var(--color-main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: flex;
  align-items: center;
  gap: 4px;
}

.locationIcon {
  width: 16px;
  height: 16px;
  fill: #101828;
}
.name {
  color: var(--color-main, #101828);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}
.price {
  color: var(--color-main, #101828);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
